@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,400italic,500,500italic,700,700italic);
@import 'reset';

html {
    font-family: 'Roboto', sans-serif, serif;
    min-width: 960px;
    max-width: 1600px;
    margin: auto;
}
